html{
  background-color: #ccc;
}
#hello{
  width: 400px;
  margin: 50px auto;
  padding: 10px;
}
#headerWrap{
  background-color: #ccc;
  height: 100%;
}
#homeWrap{
  background-color: white;
  height: 100%;
}
#nombre{
  text-align: center;
}
#money{
  text-align: center;
}
#user{
  height: 100%;
}
#welcomeInstructions{
  height: 584px;
}
#planYearEntry{
  height: 600px;
}
#expenseEntry{
  height: 580px;
}
img {
    transition: -webkit-transform 0.25s ease;
}
img:hover{
  cursor: pointer;
}

img:active {

    -webkit-transform: scale(2);
}
.container{
  width: 400px;
  margin: 100px auto;
  border: 1px solid black;
  border-radius: 10px;
}
#boxTitle{
  width: 150px;
  margin: 20px auto;
}
#login{
  padding: 10px;
  width: 150px;
  margin: auto;
}
#credentials{
  width: 300px;
  margin: 0 auto;
}
.ng-modal-overlay {
  /* A dark translucent div that covers the whole screen */
  position:absolute;
  z-index:9999;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:#000000;
  opacity: 0.8;
}
.ng-modal-dialog {
  /* A centered div above the overlay with a box shadow. */
  z-index:10000;
  position: absolute;
  width: 50%; /* Default */

  /* Center the dialog */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);

  background-color: #fff;
  box-shadow: 4px 4px 80px #000;
}
.ng-modal-dialog-content {
  padding:10px;
  text-align: left;
}
.ng-modal-close {
  position: absolute;
  top: 3px;
  right: 5px;
  padding: 5px;
  cursor: pointer;
  font-size: 120%;
  display: inline-block;
  font-weight: bold;
  font-family: 'arial', 'sans-serif';
}

#nav {
  padding: 10px;
  background-color: #ccc;
}
#nav a:hover {
  opacity: .5;
}
#plans{
  padding: 10px;
}
#planInfo{
  padding: 10px;
  width: 500px;
}
#totesMaGoats {
  padding: 5px;
  margin-left: 160px;
  width: 200px;
  border: 1px dashed black;
  border-radius: 5px;
}
#title{
  margin: 0;
  display: inline-block;
  position: relative;
  float: right;
}
