img {
    transition: -webkit-transform 0.25s ease;
}
img:hover{
  cursor: pointer;
}

img:active {

    -webkit-transform: scale(2);
}
.container{
  width: 400px;
  margin: 200px auto;
  border: 1px solid black;
  border-radius: 10px;
}
#login{
  padding: 10px;
}
