<div ng-include="'views/partials/nav.html'"></div>
<h2>Expense Entry</h2>
<a href ='http://www.irs.gov/publications/p502/' target = "_blank">Check Eligible Expenses</a>
    <div ng-controller = 'expenseSaver'>
        <form>
          <p>Select Plan Year
            <select name="plan_year" ng-model="pyIn">
              <option value = "2016-2017">2016-2017</option>
            </select>
          </p>
          <p>Enter Expense Description
            <input type="text" id="whatexpenseIn" ng-model="whatexpenseIn"placeholder="Expense description"value="">
          </p>
          <p>Enter Expense Amount
            <input type="number" step ='any' min = '0'id="expenseAmtIn" ng-model="expenseAmtIn"placeholder="Expense Amount"value="">
          </p>
          <p>Enter Expense Date
            <input type="date" id="expenseDateIn" ng-model="expenseDateIn"placeholder="Date of Expense"value="">
          </p>
          <p>Enter receipt URL
            <input type="text" id='receiptImgIn' ng-model='receiptImgIn'placeholder="URL to receipt image"name="name" value="">
          </p>

          <button type="submit" ng-click='sendExpense()' name="button">Save Expense</button>
        </form>
    </div>
