<div ng-include="'views/partials/nav.html'"></div>
<div ng-controller='expenseViewer' ng-init = 'seeExpenses()'>
  <div ng-include="'views/partials/PlanYearInfo.html'"></div>
  <div id = 'totesMaGoats'>
    <strong>TOTAL SPENT:</strong> {{sumTotal | currency: "$"}}<br />
    <strong>TOTAL LEFT:</strong> {{sumTotal | currency : "$"}}
  </div>
  <button type="button" ng-click="seeExpenses()"name="button">See Expenses</button><br/>

    <table class = "table table-striped">
      <thead>
        <tr>
          <th>Expense Year</th>
          <th>Expense Description</th>
          <th>Expense Amount</th>
          <th>Expense Date</th>
          <th>Receipt</th>
          </tr>
      </thead>
      <tbody>

      <tr ng-repeat="expense in allTheExpenses">
       <td> {{expense.planYear }}</td>
       <td>{{expense.description }}</td>
        <td>{{expense.amount | currency: '$'}}</td>
         <td>{{expense.date | date}}</td>
         <td><img ng-src={{expense.receiptPic}} style = 'width: 200px;'><button id = "{{expense._id}}" ng-click = "deleteExpense()">Delete Expense</button>
           <button ng-click='toggleModal(expense._id)'>Update Expense</button>
           <modal-dialog id = '{{expense_.id}}'show='modalShown' width='400px' height='60%'>
             <p>Select Plan Year
               <select name="plan_year" ng-model="pyIn" id ="{{expense.planYear}}">
                 <option value = "2016-2017">2016-2017</option>
               </select>
             </p>
             <p>Enter Expense Description
               <input type="text" id="whatexpenseIn" ng-model="whatexpenseIn"placeholder="{{expense.description}}"value="">
             </p>
             <p>Enter Expense Amount
               <input type="number" step ='any' min = '0'id="expenseAmtIn" ng-model="expenseAmtIn"placeholder="{{expense.amount| currency: '$'}}"value="">
             </p>
             <p>Enter Expense Date
               <input type="date" id="expenseDateIn" ng-model="expenseDateIn"placeholder="{{expense.date | date}}"value="">
             </p>
             <p>Enter receipt URL
               <input type="text" id='receiptImgIn' ng-model='receiptImgIn'placeholder="{{expense.receiptPic}}"name="name" value="">
             </p>

             <button type="submit" ng-click='updateExpense(pyIn,whatexpenseIn,expenseAmtIn,expenseDateIn,receiptImgIn)' id = '{{expense._id}}' name="button">Update</button>
             
           </modal-dialog>
         </td>
       </tr>
     </tbody>
   </table>

</div>
