<body ng-app="myApp" id = 'home'>
  <div id = "headerWrap">
  <header id='hello'>
    <h2 id = "nombre">FSAide Expense Tracker</h2>
    <h4 id = "money"> Don't leave money on the table!</h4>
  </header>
 </div>
  <div id = "homeWrap">
      <div class="container">
              <h1 class="lead">Login</h1>
                <!-- Set form action and method -->
          <form>
              <div>
                  <label for="username">Username:</label>
                  <input type="text" name="username" ng-model = "user.username" id="username"/>
              </div>
              <div>
                  <label for="password">Password:</label>
                  <input type="password" name="password" ng-model = "user.password"id="password"/>
              </div>
              <div id= 'login'>
                  <input type="submit" ng-click="login()" value="Log In"/>
                  <a href="#register">Register</a>
              </div>
          </form>
      </div>
  </div>
