<body ng-app="myApp">
      <div class="instructions">
          <div class="container">
              <h1 class="lead">Login</h1>
          </div>
      </div>
      <div class="container">
          <!-- Set form action and method -->
          <form>
              <div>
                  <label for="username">Username:</label>
                  <input type="text" name="username" ng-model = "user.username" id="username"/>
              </div>
              <div>
                  <label for="password">Password:</label>
                  <input type="password" name="password" ng-model = "user.password"id="password"/>
              </div>
              <div>
                  <input type="submit" ng-click="login()" value="Log In"/>
                  <a href="#register">Register</a>
              </div>
          </form>
      </div>
